{% load i18n %}

{% if import_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}likes/includes/likes.js"></script>
{% endif %}

{% if likes_enabled %}
    <div class="likes">
        {% blocktrans count content_obj.vote_total as total %}
            {{ total }} like
        {% plural %}
            {{ total }} likes
        {% endblocktrans %}
        <span>
            {% if can_vote %}
                {% if can_like %}
                    <a class="liker" href="{% url 'like' content_type content_obj.id 1 %}" rel="nofollow">{% trans "Like" %}</a>
                {% endif %}
                {% if can_unlike %}
                    <a class="liker" href="{% url 'like' content_type content_obj.id 0 %}" rel="nofollow">{% trans "Unlike" %}</a>
                {% endif %}
            {% endif %}
        </span>
    </div>
{% endif %}
